<!DOCTYPE html>
<html lan="en">
    <head>
            <title>{% block content%}{%endblock %}</title>
            <meta charset="UTF-8">
    </head>
    <body>
        <h1>Spinning Cockroach</h1>

        <p>I like the spinning cockroach because hes a silly goose</p>


   <img src="https://media.tenor.com/1E6HMze0mQEAAAAC/dancing-cockroach-rainbow.gif"height="1000px" alt="cockroach do a happy lil jig"/>

             <ol>
        <li>big</li>
        <li>cockroach</li>
        <li>AHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH</li>
        <li>BLAM BLAM</li>
        <li>dead</li>
    </ol>
    <form method="POST" action="/submit">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <input type="submit" value="Submit">
         <div id="bar">
            <h2><em></em></h2>
            <a href="/">home?</a>
            <a hreF="/contact">contact?</a>
            <a href="/about">about?</a>
         </div>
         {% block body %}{% endblock %}
    </body>\
</html>